SECRET_KEY='django-insecure-xxx'
DEBUG=True

GOOGLE_CLIENT_ID="xxx.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="GOCSPX-xxxx"
GOOGLE_REDIRECT_URI="http://localhost:8000/api/auth/google/callback/"

E42_CLIENT_ID="u-xxx"
E42_CLIENT_SECRET="s-xxx"
E42_REDIRECT_URI="http://localhost:8000/api/auth/e42callback/"

FRONTEND_URL="http://localhost:5173"
BACKEND_URL="http://localhost:8000"
