--extra-index-url https://download.pytorch.org/whl/cpu

django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
Pillow
requests
drf_yasg
channels
django-environ
daphne
pyotp
qrcode
numpy==1.26.4
torch==2.2.2+cpu
transformers==4.37.2
